<% if @users.blank? %>
  <p>There are no users yet.</p>
  <button class= "rounded border-2 p-2 mt-4">
    <%= link_to "Sign In", new_user_session_path %>
  </button>

<%else%>
  <ul class="flex flex-col p-5">
  <% @users.each do |user| %>
    <div class="flex flex-row p-5 gap-5">
      <div class="border border-black w-1/6 h-20">
      </div>
      <div class = "border rounded border-black flex flex-row p-3 justify-between w-5/6">
      </div>
    </div>
  <% end %>
  </ul>
<% end %>

