.recipe-details-info {
  display: flex;
  gap: 70%;
  width: 90%;
  justify-content: center;
}

.qty_and_amount {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

.qty_and_amount p {
  font-size: 18px;
}

.recipe_new {
  width: 60%;
  margin: auto;
}

.edit_recipe_food {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.update_food {
  margin-top: 40px;
}